ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

li {
  list-style: none;
  margin: 1em;
  width: 85vw;
}

#card-content{
  display: flex;
}

#score {
  margin-right: 2em;
  font-weight: bold;
}

#date span {
  font-weight: bold;
}

#topic-title {
  margin-bottom: 0.8em;
  font-size: 1.2em;
}
